<!DOCTYPE html>

<html lang="fr">
<head>
  <title>Samuel Sandoval</title>

  <link rel="icon" href="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/SS.png">

  <link rel="stylesheet"
  href="style.css">
</head>

<body>
  <img src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/SS WHITE.png" alt= "Samuel Sandoval">
  <!-- <h1 id="header"><strong>Samuel Sandoval</strong></h1>

  <h2 id="subheader"> Web Developer</h2> -->



  <!-- This is the paragraph of about me-->
  <br>
  <br>
  <h3 id="body_header"> About Me </h3>
  <div class="box">
    <!-- <h4 class="title"> Programming </h4> -->
    <p class="desc"> Samuel is a web developer that has been programming
      for over a year. He is focused on full stack web development but is
      interested in mobile development, software development and machine learning.
      He is a Computer Science major at California State University Fullerton and will graduate in 2023.</p>
      <!--<h4 class="title"> Lighting </h4>-->
      <p class="desc"> I also enjoy being a lighting engineer, I've been a lighting engineer for 2 years
        and I currently reside at Harvest Christian Fellowship for lighting.
        I am definetely open for lighting gigs as well. </p>
      </div>

      <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">
          <div class="ast-small-footer footer-sml-layout-1">
            <div class="ast-footer-overlay">
              <div class="ast-container">
                <div class="ast-small-footer-wrap">
                  <div class="ast-small-footer-section ast-small-footer-section-1">
                    Copyright © 2019 <span class="ast-footer-site-title">Samuel Sandoval</span></div>


                  </div><!-- .ast-row .ast-small-footer-wrap -->
                </div><!-- .ast-container -->
              </div><!-- .ast-footer-overlay -->
            </div><!-- .ast-small-footer-->


          </footer>


  </body>
</html>
