<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>Samuel Sandoval</title>

  <link rel="icon" href="https://i.ibb.co/CbbDjcz/icon.png">
  <meta charset="utf-8" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <header class="container">
    <div class="row">
      <img class ="navbar-brand" src="https://i.ibb.co/dmpWcX6/SS-WHITE.png" hspace = "20" >
      <nav class="col-sm-4">
        <p>Home</p>
      </nav>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Welcome</h2>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 id="body_header">About Me</h4>

        <p class="desc"> Samuel is a web developer that has been programming
          for over a year. He is focused on full stack web development but is
          interested in mobile development, software development and machine learning.
          He is a Computer Science major at California State University Fullerton and will graduate in 2023.</p>

          <br>
          <p class="desc"> I also enjoy being a lighting engineer, I've been a lighting engineer for 2 years
            and I currently reside at Harvest Christian Fellowship. I am definetely open for lighting gigs as well. </p>
      </div>
      <br>

  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2019 Samuel Sandoval</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <a href="https://github.com/samuelsandoval1"><img  alt="GitHub" src="https://image.flaticon.com/icons/png/512/25/25231.png"width="50" height="70" hspace="20"></a>
              </li>
        <li class="col-sm-1">
          <a href="https://www.linkedin.com/in/samuel-sandoval-8055aa161/"><img alt="GitHub" src="https://image.flaticon.com/icons/png/512/61/61109.png"width="50" height="70" hspace="20"></a>
        </li>
        <li class="col-sm-1">
          <a href="mailto:sjsandoval@csu.fullerton.edu"><img  alt="EMAIL" src="https://cdn3.iconfinder.com/data/icons/project-management-32/48/51-512.png" width="50" height="70" hspace="20"></a>
        </li>

      </ul>
    </div>
  </footer>
</body>

</html>

<!-- <html lang="en">
  <head>


      <link rel="stylesheet"
      href="style.css">
      <link rel="stylesheet"
      href="bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://bootswatch.com/materia/bootstrap.min.css"
      rel="stylesheet" type = "text/css">

  </head>

  <body>
    <nav class="navbar fixed top navbar-expand-lg navbar-light bg-light" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>


        </div>
      </div>
    </nav>

      <br>
      <br>
        <h3 id="body_header"><center> Welcome </center></h3>


          <div class="box">
          <h4 id="body_header">About Me</h4>

          <p class="desc"> Samuel is a web developer that has been programming
            for over a year. He is focused on full stack web development but is
            interested in mobile development, software development and machine learning.
            He is a Computer Science major at California State University Fullerton and will graduate in 2023.</p>

            <br>
            <p class="desc"> I also enjoy being a lighting engineer, I've been a lighting engineer for 2 years
              and I currently reside at Harvest Christian Fellowship for lighting.
                I am definetely open for lighting gigs as well. </p>
            </div>
                <br>


            <div class="box">
              <h3 id="body_header">Portfolio</h3>
                <a class= "desc" href="https://orgspace.appspot.com"><img class= "proj" alt="orgspace" src="https://i.ibb.co/VvpkV7C/Orgspace.png"width="50" height="70" hspace="20"></a>
                <br>
                <br>
                <p class="desc">
                  Developed a web platform for non-profit organizations to connect
                  with other organizations and individuals
                  </p>

              </div>
              <br>


        <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">


-->
