<!DOCTYPE html>

<html lang="fr">
  <head>
    <title>Samuel Sandoval</title>

    <link rel="icon" href="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/SS.png">

      <link rel="stylesheet"
      href="style.css">
  </head>

  <body>
    <img src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/SS WHITE.png" alt= "Samuel Sandoval">
    <!-- <h1 id="header"><strong>Samuel Sandoval</strong></h1>

      <h2 id="subheader"> Web Developer</h2> -->



      <!-- This is the paragraph of about me-->
      <br>
      <br>
      <h3 id="body_header"> Welcome </h3>
      <div class="box">
          <!-- <h4 class="title"> Programming </h4> -->
          <img class="main" src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/computer-laptop-macbook-coding.jpg"width="150" height="170"></a>
          <p class="desc"> Samuel Sandoval is a web developer, student, and
          innovator. He is based in Southern California and loves to develop
          solutions to help people with their everyday life.</p>

          </div>
        <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">



          <div class="footer-adv footer-adv-layout-4">
            <div class="footer-adv-overlay">
              <div class="ast-container">
                <div class="ast-row">
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-1">
                    <a href="https://github.com/samuelsandoval1"><img class= "FOOTICON" alt="GitHub" src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/GH LOGO.png"width="50" height="70" hspace="20"></a>
                    <a href="https://www.linkedin.com/in/samuel-sandoval-8055aa161/"><img class= "FOOTICON" alt="LinkedIn" src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/LI.png"width="50" height="70" ></a>
                    <a href="mailto:sjsandoval@csu.fullerton.edu"><img class ="FOOTICON" alt="EMAIL" src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/images/EMAIL.png" width="50" height="70" hspace="20"></a>

                  </ul></div></div>				</div>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-2">
                  </div>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-3">
                  </div>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-4">
                  </div>
                </div><!-- .ast-row -->
              </div><!-- .ast-container -->
            </div><!-- .footer-adv-overlay-->
          </div><!-- .ast-theme-footer .footer-adv-layout-4 -->

          <div class="ast-small-footer footer-sml-layout-1">
            <div class="ast-footer-overlay">
              <div class="ast-container">
                <div class="ast-small-footer-wrap">
                  <div class="ast-small-footer-section ast-small-footer-section-1">
                    Copyright © 2019 <span class="ast-footer-site-title">Samuel Sandoval</span></div>


                  </div><!-- .ast-row .ast-small-footer-wrap -->
                </div><!-- .ast-container -->
              </div><!-- .ast-footer-overlay -->
            </div><!-- .ast-small-footer-->


          </footer>

</body>
</html>
