<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Samuel Sandoval</title>

    <link rel="icon" href="https://i.ibb.co/CbbDjcz/icon.png">

      <link rel="stylesheet"
      href="style.css">
      <link rel="stylesheet"
      href="bootstrap.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://bootswatch.com/materia/bootstrap.min.css"
      rel="stylesheet" type = "text/css">

  </head>

  <body>
    <nav class="navbar fixed top navbar-expand-lg navbar-light bg-light" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img class ="navbar-brand" src="https://i.ibb.co/dmpWcX6/SS-WHITE.png" hspace = "20" >

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link" href="/about">About</a>
           <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
           <a class="nav-item nav-link" href="/contact">Contact Us</a>


        </div>
    </nav>

      <br>
      <br>
      <div class="box">
        <h3 id="body_header"><center> Welcome </center></h3>

          <!-- <h4 class="title"> Programming </h4> -->
          <img class="main" src="https://p2.piqsels.com/preview/348/29/220/code-coding-computer-developer.jpg"width="150" height="170"></a>
          <p class="desc"> Samuel Sandoval is a web developer, student, and
          innovator. He is based in Southern California and loves to develop
          solutions to help people with their everyday life.</p>

          </div>
        <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">



          <div class="footer-adv footer-adv-layout-4">
            <div class="footer-adv-overlay">
              <div class="ast-container">
                <div class="ast-row">
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-1">
                    <a href="https://github.com/samuelsandoval1"><img class= "FOOTICON" alt="GitHub" src="https://image.flaticon.com/icons/png/512/25/25231.png"width="50" height="70" hspace="20"></a>
                    <a href="https://github.com/samuelsandoval1"><img class= "FOOTICON" alt="GitHub" src="https://image.flaticon.com/icons/png/512/61/61109.png"width="50" height="70" hspace="20"></a>
                    <a href="mailto:sjsandoval@csu.fullerton.edu"><img class ="FOOTICON" alt="EMAIL" src="https://cdn3.iconfinder.com/data/icons/project-management-32/48/51-512.png" width="50" height="70" hspace="20"></a>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-2">
                  </div>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-3">
                  </div>
                  <div class="ast-col-lg-3 ast-col-md-3 ast-col-sm-12 ast-col-xs-12 footer-adv-widget footer-adv-widget-4">
                  </div>
                </div><!-- .ast-row -->
              </div><!-- .ast-container -->
            </div><!-- .footer-adv-overlay-->
          </div><!-- .ast-theme-footer .footer-adv-layout-4 -->

          <div class="ast-small-footer footer-sml-layout-1">
            <div class="ast-footer-overlay">
              <div class="ast-container">
                <div class="ast-small-footer-wrap">
                  <div class="ast-small-footer-section ast-small-footer-section-1">
                    Copyright © 2019 <span class="ast-footer-site-title">Samuel Sandoval</span></div>


                  </div><!-- .ast-row .ast-small-footer-wrap -->
                </div><!-- .ast-container -->
              </div><!-- .ast-footer-overlay -->
            </div><!-- .ast-small-footer-->


          </footer>

          <script src="../stylesheets/v4/docs/assets/js/jquery.min.js"></script>
          <script src="../stylesheets/v4/docs/assets/js/tether.min.js"></script>
          <script src="../stylesheets/v4/docs/assets/js/chart.js"></script>
          <script src="../stylesheets/v4/docs/assets/js/toolkit.js"></script>
          <script src="../stylesheets/v4/docs/assets/js/application.js"></script>

              <script>
                // execute/clear BS loaders for docs
                $(function(){
                  if (window.BS&&window.BS.loader&&window.BS.loader.length) {
                    while(BS.loader.length){(BS.loader.pop())()}
                  }
                })
              </script>

</body>
</html>
