<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Samuel Sandoval</title>

    <link rel="icon" href="https://i.ibb.co/CbbDjcz/icon.png">

      <link rel="stylesheet"
      href="style.css">
      <link rel="stylesheet"
      href="bootstrap.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://bootswatch.com/materia/bootstrap.min.css"
      rel="stylesheet" type = "text/css">

  </head>

  <body>
    <nav class="navbar fixed top navbar-expand-lg navbar-light bg-light" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img class ="navbar-brand" src="https://i.ibb.co/dmpWcX6/SS-WHITE.png" hspace = "20" >

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link" href="/about">About</a>
           <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
           <a class="nav-item nav-link" href="/contact">Contact Us</a>


        </div>
    </nav>

  <br>
  <br>
  <h3 id="body_header"> Portfolio </h3>
  <div class="box">
    <!-- <h4 class="title"> Project </h4> -->
    <a class= "desc" href="https://orgspace.appspot.com"><img class= "proj" alt="orgspace" src="https://i.ibb.co/VvpkV7C/Orgspace.png"width="50" height="70" hspace="20"></a>
    <br>
    <br>
    <p class="desc">
      Developed a web platform for non-profit organizations to connect
      with other organizations and individuals
      </p>
      <br>
      <br>

      </div>

      <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">

          <div class="ast-small-footer footer-sml-layout-1">
            <div class="ast-footer-overlay">
              <div class="ast-container">
                <div class="ast-small-footer-wrap">
                  <div class="ast-small-footer-section ast-small-footer-section-1">
                    Copyright © 2019 <span class="ast-footer-site-title">Samuel Sandoval</span></div>


                  </div><!-- .ast-row .ast-small-footer-wrap -->
                </div><!-- .ast-container -->
              </div><!-- .ast-footer-overlay -->
            </div><!-- .ast-small-footer-->


          </footer>


  </body>
</html>
