<!DOCTYPE html>

<html lang="fr">
  <head>
    <title>Samuel Sandoval</title>

    <link rel="icon" href="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/sam_website/images/SS.png">

      <link rel="stylesheet"
      href="style.css">
  </head>

  <body>
    <img src="/Users/samuelsandoval/Documents/Projects/Samuel Sandoval Website/sam_website/images/SS WHITE.png">



  <!-- This is the paragraph of about me-->
  <br>
  <br>
  <h3 id="body_header"> Portfolio </h3>
  <div class="box">
    <!-- <h4 class="title"> Project </h4> -->
    <a class= "desc" href="orgspace.appspot.com"><strong>orgspace</strong></a>
    <p class="desc">
      Developed a web platform for non-profit organizations to connect
      with other organizations and individuals
      </p>

      </div>

      <footer class="site-footer" id="colophon" role="contentinfo" itemtype="https://schema.org/WPFooter" itemscope="itemscope">

          <div class="ast-small-footer footer-sml-layout-1">
            <div class="ast-footer-overlay">
              <div class="ast-container">
                <div class="ast-small-footer-wrap">
                  <div class="ast-small-footer-section ast-small-footer-section-1">
                    Copyright © 2019 <span class="ast-footer-site-title">Samuel Sandoval</span></div>


                  </div><!-- .ast-row .ast-small-footer-wrap -->
                </div><!-- .ast-container -->
              </div><!-- .ast-footer-overlay -->
            </div><!-- .ast-small-footer-->


          </footer>


  </body>
</html>
