html{
background-color: white;

height: 100vh;
padding:0;
margin:0;
}
//* ^BACKGROUND ^^   */


#IMG{
width: 200px;
height:200px;
}
/* Text (BELOW)*/
h1 { font-family: "Open Sans"; font-size: 40px; font-style: normal;
font-variant: normal; font-weight: 700; line-height: 15.4px; }

h2 { font-family: "Open Sans"; font-size: 36px; font-style: normal;
font-variant: normal; font-weight: 700; line-height: 15.4px; }

h3 { display:block ; "Open Sans"; font-size: 30px; font-style: normal;
font-variant: normal; font-weight: 700; line-height: 15.4px; color: #1a2a3a;
}

/* This is the title font family*/


img{
  width: 50%;
  height: auto;
}
#header{
  color:#73a9ff;
  font-size: 40px;
  height: 100%
}

/* This is the title font color*/

#subheader{
  color:gray;
  font-size: 20px;
  height: 200%
}


li{
    color:#005219;
    font-size: 20px;
    height: 100%
  }

img.navbar-brand{
    width: 10%;
    height: auto;
  }


.mainContainer {
  margin: 0;
  padding: 0;
}

.hero {
  margin: 0;
  padding: 50px 0 0px 20px;
  min-height: 100%;
  max-height: 100%;
}

.heroContainer {
  display:table-cell;
  vertical-align: middle;
}





.icon {
  font-size: 50px;
  color: rgba(0,0,0,0.1);
  text-decoration: none;
  -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}

.icon:hover {
  color: rgba(0,0,0,0.3);
}

.scrollDown {
    position: absolute;
    left: 50%;
    bottom: 3.5em;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    font-weight: 200;
    cursor: default;
    -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
    transform: translateX(-8.95em) scaleX(5) scaleY(2.5) rotate(180deg);
}


.gradientText {
  /* Animated Gradient */
  background: linear-gradient(70deg, #fead16, #fe6616, #fe1616);
  background-size: 200% 200%;
  -webkit-animation: Gradient 11s ease infinite;
  -moz-animation: Gradient 11s ease infinite;
  animation: Gradient 11s ease infinite;
  color: rgba(0,0,0,0);
  -webkit-background-clip: text;
  background-clip: text;
}

@-webkit-keyframes Gradient {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}}
@-moz-keyframes Gradient {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}}
@keyframes Gradient {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}}

.contentContainer {
  margin: 0;
  padding: 50px 20px 300px 20px;
  background-color: #F5F5F5;
}
img.main{
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.FOOTICON{
  max-width: 5%;
  height: auto;
}
.box {
  border: 2px solid #ddd;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px;
  max-width: 100%;
}


a.link {
  text-decoration: none;
  color: #1463ff;
}

a.nolink {
  color: #aaa;
}


div.itemContainer {
  margin: 15px 0;
}

div.categoryContainer {
  margin-bottom: 50px;
}
a.desc { font-family: "Open Sans"; font-size: 20px; font-style: normal;
font-variant: normal; font-weight: 400; line-height: 40px; color: #2D3238;
margin-left: 2em}
p.desc { font-family: "Open Sans"; font-size: 20px; font-style: normal;
font-variant: normal; font-weight: 400; line-height: 40px; color: #2D3238;
margin-left: 3em}
a.dropdown-item{
  color: black;
}
footer {
  color: white;
  margin: 0;
  padding: 0;
  max-width: 100%;
  bottom: 0px;
  background-color: #aaa;
}

.footerContainer {
  font-size: 15px;
  padding: 30px;
}

ul{
  list-style: none;
  border:1px solid #00f74a;
  border-radius: 20px;
  padding: 20px 0 20px 0;
}

img.proj{
  width: 7%;
  height: auto;
}
.ast-small-footer {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #0e9ad6;
}
.footer-sml-layout-1 {
    text-align: center;
    font-family: "Open Sans"; font-size: 18px; font-style: normal;
    font-variant: normal; font-weight: 400; line-height: 40px; color: white;
}

#HEADING{
  width: 800px;
  height:250px;
}
